{% extends 'articlebase.html' %}

{% block title %}
Travelevart
{% endblock %}

{% block content %}
{% load staticfiles%}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- <div class="jumbotron">
		<div class="container"> -->

			    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="{% static 'images/one.jpg' %}" alt="First slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Welcome to Travelevart</h1>
							<h3>Your one and only travel hub</h3>
							<p><a class="btn btn-lg btn-primary" href="/addarticle/register" role="button">Sign up today</a></p>
						</div>
					</div>
			</div>
			<div class="item">
				<img class="second-slide" src="{% static 'images/two.jpg' %}" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Need idea?</h1>
						<p>Planning for your next travel? Let us help you</p>
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide" src="{% static 'images/three.jpg' %}" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Need partner?</h1>
						<p>Looking for travel partner? Let us help you</p>
						<p><a class="btn btn-lg btn-primary" href="{% url 'forum:forumindex' %}" role="button">Learn more</a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div><!-- /.carousel -->

	<div class="container marketing">

	<div id="#" class="row">
	{% for article in all_article %}
		<!-- Three columns of text below the carousel -->
		<div class="col-lg-4">
			<h2>{{ article.article_title }}</h2>
			<p>{{ article.description }}</p>
			<p><a class="btn btn-default" href="{% url 'article:detail' article.id %}" role="button">Read More &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	{% endfor %}
	</div><!-- /.row -->
			
			
				  <!-- START THE FEATURETTES -->

				<!-- {% for article in all_article %} -->

				<!-- {% if article.id|divisibleby:"2" %}				   -->

				<!-- <hr class="featurette-divider">
				
					  <div class="row featurette">
						<div class="col-md-7 col-md-push-5">
								<h2 class="featurette-heading">{{ article.article_title }}</h2>
								<p class="lead">{{ article.description }}</p>
								<p><a class="btn btn-default" href="{% url 'article:detail' article.id %}" role="button">Read More &raquo;</a></p>  
						</div> -->
						<!-- <div class="col-md-5 col-md-pull-7">
								<img class="featurette-image img-responsive center-block" data-src="{{ article.thumbnail.url }}" alt="Generic placeholder image">
						</div> -->
					  <!-- </div> -->

						<!-- {% else %}

						<hr class="featurette-divider">
						
							  <div class="row featurette">
									<div class="col-md-7"> -->
									  <!-- <h2 class="featurette-heading">{{ article.article_title }} First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
									  <p class="lead">{{ article.description }} Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
									  <p><a class="btn btn-default" href="{% url 'article:detail' article.id %}" role="button">Read More &raquo;</a></p>   -->
								  <!-- </div>
							  <div class="col-md-5">
								  <img class="featurette-image img-responsive center-block" data-src="{{ article.thumbnail.url }}" alt="Generic placeholder image"> 
								</div> -->
							  <!-- </div> -->


						<!-- {% endif %} -->
				  
				<!-- {% endfor %}		 -->

			
				  <!-- <hr class="featurette-divider"> -->
			
				  <!-- /END THE FEATURETTES -->


{% endblock %}