{% extends 'forumbase.html' %}

{% block title %}
Comment detail
{% endblock %}

{% block content %}
<div style="margin-top: 100px;margin-left: 120px">
	<p>Total Number of Comment(s) : {{ listforum.comments.count }}</p>
	{% if user.is_authenticated %}
	    <a href="{% url 'forum:add_comment' slug=listforum.slug %}">Leave A Comment</a>
   		{% for comment in listforum.comments.all %}
   			<p>{{ comment.created }}</p>
   			<h4>{{ comment.user }}</h4>
   			<p>{{ comment.body }}</p>
            <hr>
        {% endfor %} 
   		
    {% else %}
         {% for comment in listforum.comments.all %}
   			<p>{{ comment.created }}</p>
   			<h4>{{ comment.user }}</h4>
   			<p>{{ comment.body }}</p>
            <hr>
        {% endfor %}
    {% endif %}
</div>
   		        
{% endblock %}

