{% extends 'forumbase.html' %}
{% block title %}
Forums
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div style="margin-top: 30px">
		<h1>These are all The Forums..!!</h1>
	</div>
</div>

<ul>
	{% for forum in all_forum %}
	
	<!-- Method 1 -->
<div >
	<div class="column">
		<li style="color:#A9A9A9;font-size:40px;font-family:serif;list-style: none;background:blue">{{ forum.forum_title }}</li>
		<div style="background:#87CEEB" >
			{% for itemlist in forum.forum_items.all %}
             <li style="list-style: none;font-size:20px;color:black"><a href = "{% url 'forum:detail' slug=itemlist.slug %}">{{ itemlist }}</a></li>
	        {% endfor %}
		</div>		
	</div>
</div>	   
	{% endfor %}
</ul>
{% endblock %}